# Entorno virtual
env/

# Archivos de Python compilados
__pycache__/
*.py[cod]

# Archivos temporales del sistema
.DS_Store

# Archivos de base de datos temporales
*.sqlite3

# Archivos de migraciones (si preferís ignorarlos mientras trabajás)
# **Solo si sabés lo que hacés**
# */migrations/*.py
# */migrations/*.pyc

# Archivos de configuración de VS Code (si usás)
.vscode/

