# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Django migrations
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# VS Code
.vscode/

# MacOS
.DS_Store

# Python testing
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyCharm
.idea/

# dotenv environment variables file
.env
.env
.env

